header {
  background: #0066ff;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 15px;
}

header img {
  border-radius: 50%;
  box-shadow: 0px 0px 13px 0px black;
}

header .greeting {
  color: rgba(255, 255, 255, 0.7);
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

header .intro {
  font-size: 36px;
}

header .intro #amp {
  color: rgba(255, 255, 255, 0.7);
  font-weight: lighter;
}

header button {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #cce0ff;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  background: #0066ff;
  color: white;
  font-size: 14px;
}

header button i {
  margin-left: 60px;
}

header .icons {
  display: flex;
  color: rgba(255, 255, 255, 0.7);
}

header .icons .left {
  flex: 1;
  text-align: left;
}

header .icons .right {
  flex: 1;
  text-align: right;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

header,
main {
  flex: 1;
}

.blue-heading {
  color: #0066ff;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1.5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.black-heading {
  color: black;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.black-heading i {
  color: #0066ff;
  padding-left: 30px;
}

ul {
  list-style-type: none;
}

ul li {
  margin-top: 5px;
}

ul i {
  font-size: 5px;
  color: #0066ff;
}

@media screen and (min-width: 768px) {
  body {
    flex-direction: row;
  }
  header {
    padding-left: 30px;
    padding-right: 30px;
  }
  main {
    padding-left: 30px;
  }
}
