// variables
$colorBlue: rgb(0%, 40%, 100%);
$colorWhite: white;
$colorWhiteTrans: rgba(255,255,255,.7);
$openSans: 'Open Sans', sans-serif;

// partials

@import 'header';

// setup

* {
    box-sizing: border-box;
}

body, header, .icons, main section {
    display: flex;
}

body, header, main section {
    flex-direction: column;
}

header, main, main section {
    flex: 1;
}

body {
    font-family: $openSans;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

//content

section h5 {
    color: $colorBlue;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

section h4 {
    color: black;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    
        i {
            color: $colorBlue;
            padding-left: 30px;
        }
}

ul {
    list-style-type: none;

        li {
            margin-top: 5px;
        }

        i {
            font-size: 5px;
            color: $colorBlue;
        }
}

//tablet 

@media screen and (min-width: 768px) {

    body {
        flex-direction: row;
    }

    header {
        padding-left: 30px;
        padding-right: 30px;
    }

    main {
        padding-left: 30px;
    }

    img {
        width: 51%;
    }
}

//desktop

@media screen and (min-width: 1024px) {
    main section {
        flex-direction: row;

            div:first-child {
                flex: 3;
            }

            div:last-child {
                flex: 9;
            }
    }

}


