// variables

$colorBlue: blue;
$colorWhite: white;
$colorWhiteTrans: rgba(255,255,255,.7);
$openSans: 'Open Sans', sans-serif;

// partials

@import 'header';

* {
    box-sizing: border-box;
}

body {
    font-family: $openSans;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.row {
    display: flex;
    border: 1px solid red;
    flex-direction: column;
}

.column {
    flex: 1;
    border: 1px solid black;
}

//content

.blue-heading {
    color: $colorBlue;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.black-heading {
    color: black;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    
        i {
            color: $colorBlue;
            padding-left: 30px;
        }
}

ul {
    list-style-type: none;

        li {
            margin-top: 5px;
        }

        i {
            font-size: 5px;
            color: $colorBlue;
        }
}

//mobile

@media screen and(min-width: 554px) {

}

//tablet 

@media screen and(min-width: 768px) {

    .row {
        flex-direction: column;
    }

}